:root {
    --pomodoro-block: #ff0000;
    --pomodoro-accent: #ffffff;
    --pomodoro-font: #ffffff;
    --pomodoro-wheel: #ffffff;
    --pomodoro-wheel-highlight: #ff0000;
    --pomdoro-image: #000000;
    --pomodoro-image-highlight: #000000;
    --pomodoro-timer: #0000ff;
}

html {
    background-color: black;
    font-family: system-ui;
}

body {
    margin: 0; 
    visibility: hidden; 
}

body.ready {
    visibility: visible;
}

.settings {
    border-radius: 50%; 
    display: flex; 
    justify-content: center;
    align-items: center; 

    width: 40px; 
    height: 40px; 
}

.block {
    margin: 5px; 
}

.outterBlock {
    padding: 5px; 
    border-radius: 10px; 
    box-shadow: 10px 10px 5px rgb(0 0 0 / 25%);
}

.innerBlock {
    padding: 15px; 
    border-radius: 8px; 
}

