/* code for the pomodoro section */
.pomodoroBlock {
    position: absolute; 
    right: 0;
    top: 0; 

    display: flex; 
    gap: 5px; 
}

.pomodoroSettings {
    background-color: var(--pomodoro-block);
}

.pomodoroColors {
    padding: 5px;
    background-color: var(--pomodoro-block); 

    width: 300px; 
    position: relative; 
}

.innerPomodoroColors {
    background-color: var(--pomodoro-block);
    border: 3px solid var(--pomodoro-accent);

    position: relative; 
}

.innerPomodoroColors.notify {
    animation: 1s notify infinite; 
}

@keyframes notify {
    0% { border: 3px solid var(--pomodoro-block); }
    50% { border: 3px solid var(--pomodoro-wheel-highlight); }
    100% { border: 3px solid var(--pomodoro-block); }
}

.pomodoroNotify {
    position: absolute; 
    transform: translate(-15px, -15px);
    width: 100%; 
    height: 100%;

    z-index: 5;
}

.pomodoroNotify.hidden {
    display: none; 
}

.pomodoroSilenceNotifyBttn {
    position: absolute; 
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100px;
    height: 100px;
    border-radius: 50%;

    font-size: 30px; 
    background-color: var(--pomodoro-block);
    color: var(--pomodoro-wheel-highlight);

    border: 3px solid var(--pomodoro-wheel-highlight);

    z-index: 10; 

    transition: 0.25s all;
}

.pomodoroSilenceNotifyBttn:hover {
    background-color: var(--pomodoro-wheel-highlight);
    color: var(--pomodoro-block);
    border: 3px solid var(--pomodoro-block);
}

.pomodoroNotifyOverlay {
    border-radius: 5px; 

    background-color: black; 
    opacity: 0.4;
    z-index: 6; 

    width: 100%;
    height: 100%;
}

.timerProfileWrapper {
    display: flex; 
    gap: 10px;
    align-items: center; 
}

#timerProfileName {
    color: var(--pomodoro-font);
    font-size: 30px;
}

#timerProfileBttn {
    width: 30px; 
    height: 30px;
    border-radius: 100%;
    border: 3px solid var(--pomodoro-accent);

    color: var(--pomodoro-accent);
    background-color: var(--pomodoro-block);

    user-select: none;
}

.countdownWrapper {
    position: relative; 
    aspect-ratio: 1/1;
}

.countdownDisplay {
    width: 100%;
    aspect-ratio: 1/1;
}

.nextTimer {
    display: flex; 
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 3%;
    right: 3%;

    width: 40px; 
    height: 40px; 
    border-radius: 50%;
    border: none;

    color: var(--pomodoro-block); 
    background: var(--pomodoro-wheel);

    font-size: 20px; 
    font-weight: bold; 

    /* TODO: Make it so if you click the next you can switch between the two time intervals */ 

    transition: 0.35s all;
}

.nextTimer:hover {
    background-color: var(--pomodoro-wheel-highlight);
}

.nextSvgHidden {
    display: none;
}

.nextCountdownHidden {
    display: none; 
}

.countdown {
    position: absolute; 
    top: 76%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    font-size: 30px; 
    font-weight: bold; 
    background-color: var(--pomodoro-block);
    color: var(--pomodoro-wheel);
    padding: 0 7px; 
    border-radius: 30px; 
    /* border: 3px solid var(--pomodoro-wheel); */
    
    z-index: 3; 

    user-select: none;
    pointer-events: none;

    transition: 0.35s all; 
}

.countdownHighlight {
    color: var(--pomodoro-wheel-highlight);
    /* border: 3px solid var(--pomodoro-wheel-highlight); */
}

.optionWrapper {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    gap: 7px;
}

.timerOption {
    padding: 5px 10px; 
    border-radius: 30px;

    background-color: var(--pomodoro-wheel);
    color: var(--pomodoro-block);

    user-select: none;

    transition: 0.3s all;

    cursor: pointer;
}

.timerOption:hover {
    background-color: var(--pomodoro-wheel-highlight);
}

.shakeTimerOption {
    animation: shake 0.5s ease-in-out infinite;
}

.shakeTimerOption:hover {
    background-color: red; 
    color: white; 
    outline: 2px solid white; 
}

@keyframes shake {
    0% { transform: rotate(0); }
    25% { transform: rotate(2deg); }
    50% { transform: rotate(-2deg); }
    75% { transform: rotate(2deg); }
    100% { transform: rotate(-2deg); }
}

button {
    cursor: pointer;
}

.timerOptionBttn {
    padding: 0;

    border: none; 
    border-radius: 50%;

    background-color: var(--pomodoro-wheel);

    display: flex;
    align-items: center;
    justify-content: center; 

    transition: 0.3s all; 
}

.timerOptionBttnSVG {
    width: 29px;
    height: 29px; 
}

.timerOptionBttn:hover {
    background-color: var(--pomodoro-wheel-highlight);
}

.addingTimerOption {
    animation: pulse 1.5s ease-in-out infinite; 
}

@keyframes pulse {
    0% { background-color: var(--pomodoro-wheel); }
    50% { background-color: white; }
    100% { background-color: var(--pomodoro-wheel); }
}

/* chrome, safari & edge */
input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
    margin: 0;
}

/* firefox */
input[type="number"] {
    -moz-appearance: textfield; 
}

input::placeholder {
    color: var(--pomodoro-block);
}

.timerOptionInput {
    font-size: 16px; 
    padding: 0;
    border: none; 
    width: 20px; 
    background-color: var(--pomodoro-wheel);
    color: var(--pomodoro-block);
    
    transition: 0.3s all;
}

.timerOption:hover .timerOptionInput {
    background-color: var(--pomodoro-wheel-highlight);
}

.shakeTimerOption:hover .timerOptionInput {
    background-color: red; 
    color: white; 
}

.shakeTimerOption:hover input::placeholder {
    color: white; 
}

.removingTimerOption {
    background-color: white; 
}

